{% extends "base.html.twig" %}

{% block title %}Sooonr - Help{% endblock %}

{% block body %}
    <div class="container">

        <h3 class="text-center">F.A.Q</h3>
        <hr/>

        <div class="row">
            <div class="col-4">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                       aria-controls="v-pills-profile" aria-selected="true">Annuler ma participation à un événement</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                       aria-controls="v-pills-messages" aria-selected="false">Ajouter un bouton Payapal</a>
                </div>
            </div>
            <div class="col-8">


                <div class="tab-content" id="v-pills-tabContent">

                    {# Div annuler une participation #}
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">
                        <h3>Annuler ma participation à un événement</h3>
                        <ul>
                            <li>Connectez-vous avec votre compte Sooonr</li>
                            <li>Cliquez sur le menu déroulant et sélectionnez "Tableau de bord"</li>
                            <img src="{{ asset('build/help/menu_connexion.png') }}" class="mx-auto d-block img-fluid"
                                 height="200" width="200">
                            <li>Sur votre espace personnel, sélectionnez la catégorie "événement"</li>
                            <img src="{{ asset('build/help/action.png') }}" class="mx-auto d-block img-fluid" height="400" width="400">
                            <li>Sélectionnez mes participations sur le menu de gauche</li>
                            <li>Cliquez sur le bouton "Annuler ma participation" en sélectionnant l'événement de votre choix</li>
                            <img src="{{ asset('build/help/participation.png') }}" class="mx-auto d-block img-fluid" height="400" width="400">
                        </ul>
                    </div>

                    {# Div paypal #}
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                         aria-labelledby="v-pills-messages-tab">
                        <h3>Comment ajouter un bouton paypal ?</h3>
                        <ul>
                            <li>Connectez vous sur votre compte paypal</li>
                            <li>Allez sur <a href="https://www.paypal.com/donate/buttons">ce lien</a> et suivez les
                                étapes
                            </li>
                            <li>Sélectionnez "URL à partager" puis collez le lien dans le champs approprié</li>
                        </ul>
                        <img src="{{ asset('build/help/paypal.png') }}" class="mx-auto d-block img-fluid" height="400" width="400">
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}