{% extends 'base.html.twig' %}

{% block title %}Sooonr - Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-12">


            <form class="form-inline col-md-12">
                <input class="form-control col-md-8" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success col-md-3" type="submit">Recherche</button>
            </form>

            <div class="row">

                <div class="col-md-9">

                    {% for event in events %}
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="" class="card-img">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ event.title }}</h5>
                                        <p class="card-text">{{ event.description }}</p>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="col-md-3">
                    <h3>Evenement à venir</h3>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                        </div>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            //  $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}