{% extends "base.html.twig" %}

{% block title %}Sooonr - Profil{% endblock %}

{% block body %}
    <div class="container">

        <h1>{{ profile.pseudo }}</h1>

        <div class="row">
            <div class="col-md-2">
                <img src="{{ asset('build/avatars/' ~ profile.image) }}" width="150", hight="150">
            </div>
            <div class="col-md-9">
                Description : {{ profile.about }}
                Profession : {{ profile.stageName }}
            </div>
        </div>

    </div>

{% endblock %}